#header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--header-padding);
  height: var(--header-height);
  z-index: 50;
}

#logoWrapper {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

#logo {
  font-size: 1rem;
  font-weight: 500;
}

#navButtons {
  list-style-type: none;
  display: flex;
  gap: 2vw;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "Montserrat";
}

.button:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
