#header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--header-padding);
  height: var(--header-height);
  border: blue 2px solid;
  z-index: 50;
}

#logo {
  font-size: 1rem;
}

#ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
